@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Libre Franklin", sans-serif;
}
.backdrop-blur-sm {
  backdrop-filter: blur(8px);
}

/* Custom gradient overlay for hero section */

.team-member-image {
  width: 240px;
  object-fit: cover;
}
.portfolio-card {
  margin: 5%;
  padding: 5% 0;
  justify-content:flex-start;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100px;
}
.portfolio-card > img {
  /* width: 200px; */
  margin-bottom: 10px;
}

.cbox {
  background-color: #26a8e0;
  border-radius: 20px;
  height: 340px;
}
.cbox img {
  height: 266px;
}
.cbox .boxInner {
  height: 60px;
  padding: 5px 20px;
}

.leaderBorder {
  border-radius: 0 0 26px 0;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.text-info {
  font-size: 45px;
  font-weight: 100;
  color: #fff;
  line-height: 60px;
}

/* body .container{
  max-width: 1440px !important;
} */

#bannerSlider .mySwiper li img{
  width: 200px;
}
@media (max-width: 820px) {

  #bannerSlider .mySwiper li img{
    width: auto;
  }


.list-disc li > span{
  width: auto !important;
}
 
  #menu{
  display: none;
  }
  .text-sp{
    font-size: 48px !important;
  }

  .text-cm{
    margin-top: 10%;
  }
  .text-info{
    margin-top: 0 !important;
    font-size: 40px;
  }
  body .container{
    width: 100% !important;
    /* padding: 40px 30px !important; */

  }

  #bannerSlider .container{
    height: 100% !important;

  }
  #bannerSlider .container.swiper{
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px 0 !important;
  }
  #bannerSlider .container .max-w-2xl{
    max-width: 100% !important;
  }
.p-wrapper{
  flex-direction: column;
}
  .contact-section .container{
    height: 100% !important;
  }
  .team-member-card > .flex{
    display:  block !important;
  }
#build,#how-we-invest{
  height: auto !important;
  /* padding: 0; */
}
body #how-we-invest{
  padding-top: 0 !important;
}
body #how-we-invest .container{
  margin-top: 0  !important;
  margin-bottom: 0  !important;
}
#how-we-invest .mb-12{
  width: 100% !important;
}
/*.team-member-image{*/
/*  width: 100%;*/
/*}*/
.team-member-info{
  padding: 0 1rem;
}
.leaderBorder{
  display: block;
  width: 100%;
  border: none;
}
#portfolio .container{
  padding: 20px 30px !important;
}

.portfolio-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
#about .container{
  height: auto !important;
}

.list-disc li{
  flex-direction: column;
  align-items: flex-start;
}
.list-disc li .rounded-full{
  display: none;
}

#build .container{
  margin:0 !important;
}
}


.number-section{
  /*background-image: url('image/bg.png');*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  background-color: white;
}
.contact-section{
  background-image: url('image/bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.about-section{
  background-image: url('bg/bf-gray-aboutUs.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c1c1c1;
}
div#contact.about-section{
    background-image: url('bg/bf-blue-aboutUs.svg');
}
div#career.about-section{
    background-image: url('bg/bf-gray.svg');
}

.cls-1{fill:#fff;}
.cls-3{fill:none;}
.cls-4{fill:#fff;}


@media screen and (min-width: 320px) and (max-width: 1024px) {
    body, html {
        overflow-x: hidden;
    }
    .container.footer {
        padding: 0px 24px !important;
    }
}


